# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Build files
dist/
build/
.vercel
.vercel.json
# Vercel configuration (optional, exclude only if sensitive data is included)
# vercel.json  # Uncomment this line if you want to exclude vercel.json from version control